#root{
  text-align: center;
}
.btn{
  cursor: pointer;
  margin: 0.5rem;
  font-size: 1.5rem;
  background-color: fuchsia;
  border-radius: 0.5rem;
}
.section{
  border: 2px solid black;
  margin: 2rem;
  padding: 1.5rem;
  width: 50%;
  margin: 1rem auto;
}
h2{
  font-size: 2rem;
  color: red;
}
